html, body, #root {
  height: 100%;
}

.min-100 {
  min-height: 100%;
}

.navbar {
  background-color: #0054a6;
}

.navbar-brand {
  font-size: 1rem;
}

.fetch-brand {
  max-height: 50px;
}

.help-button {
  position: absolute !important;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  display: block;
  border-radius: 50%;
  padding: 6px 10px 5px;
}

.help-text {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  padding: 40px 20px 20px;
  border-radius: 20px;
}

.help-close {
  width: fit-content;
  position: absolute !important;
  right: 0;
  top: 0;
  padding: 15px 20px;
  cursor: pointer;
}

.btn-default {
  background-color: #0054a6 !important;
}

.info-panel {
  position: absolute;
  padding: 40px 20px 20px;
}

.info-panel > p > ul {
  padding-inline-start: 10px;
}

@media only screen and (max-height: 400px) {
  .fetch-brand {
    max-height: 30px;
  }

  .navbar-brand {
    font-size: 0.8rem;
  }
}

@media only screen and (max-aspect-ratio: 1/1) {
  .info-panel {
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@media only screen and (min-aspect-ratio: 1/1) {
  .info-panel {
    bottom: 0;
    right: 0;
  }
}
